name: Code Quality Check

on:
  pull_request:
    branches:
      - master
    paths:
      - app/**

jobs:
  code_quality_and_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Install dependencies
        run: composer install

      - name: Run GRUMPHP
        run: |
          ./vendor/bin/grumphp run
